.flash-box
.wrapper  
  .chat-side
    .side__header 
      %p.side__header_title masa
      %ul.side__header_icons  
        %li.side__header_text
        %li.side__header_setting   
    .side__main
      %p.side__main_username sample
      %p.side__main_text Good bye work 
  .chat-main
    .main__header    
      %h2.header__username masa-yossy
      %ul.header__text
        %li.header__text
      .header__edit EDIT 
    .main__messages
      .messages_message 
        %p.message_name YOSSY 
        %p.message_date 2019/2/3
        %p.message_text Hello from the other side 
      .messages_message 
        %p.message_name MASA 
        %p.message_date 2019/5/29 
        %p.message_text Call me now 
  .form
    .form__blank 
      %input{ class: "blank_text",id: "message-contents",type: "text",name: "message[content]",placeholder: "type a message"} 
      %label{ class: ".blank_pic",for: "messafe_image"} 
      %input{ class: "blank_send",type: "submit"} 
