<div class="wrapper">
 <div class="chat-side">
  <div class="side-header"> 
   <p class="side-header_user-name">masa</p>
   <ul class="user-menu">
    <li class="user-menu_edit-user">
    </li>
    <li class="user-menu_new-group">
    </li>
   </ul>
  </div>
  <div class="groups"> 
   <div class="group">
    <p class="group_group-name">a</p>
    <p class="group_latest-message">まだメッセージはありません</p>
   </div>
  </div>
</div>
 <div class="chat-main">
 <div class="main-header">
  <div class="current-group">
   <h2 class="current-group_name">a</h2>
   <ul class="member-list">
   "Member:"
    <li class="member-list_member">masa</li>
   </ul>
   <div class="main-header_edit-btn">Edit</div>
  </div>
 </div>
 <div class="messages">
 </div>
 <div class="form">
  <form class="new-messafe">
   <div class="input-box">
     <label class="image-label">
     </label>
   </div>
  </form>
 </div>
</div>