<div class="wrapper">
 <div class="chat-side">
 </div>
  <div class="side-header">
   <p class="side-header_user-name">masa</p>
   <ul class="user-menu">
    <li class="user-menu_edit-user">icon_edit</li>
    <li class="user-menu_new-group">icon_setting</li> 
   </ul>
  </div>
  <div class="groups">
   <div class="group">
    <p class="group_group-name">a</p>
    <p class="group_group-name">まだメッセージはありません</p>
   </div>
  </div>
 <div class="chat-main">
  <div class="main-header">
   <div class="current-group">
    <h2 class="current-group_name">a</h2>
    <ul class="member-list">"Member:"
    <li class="member-list_member">masa</ul>
   </div>
   <div class="main-header_edit_edit-btn">Edit</div>
  </div>
  <div class="messages">
  </div>
  <div class="form">
   <form class="new-message" id="new_message" enctype=mltipart/form-data" action=""accept-charaset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="">
    <input type="hidden" name=authenticity_token"value=>
  </div>
 </div>
</div>